$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$gallery: #eaeaea;
$dove-grey: #666;
$grey: #888;
$dark-grey: #999;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
$celery: #A1BA42;
$cream-can: #E9BE52;

/* primary color and it's split complements */
$conifer: #b5e853;
$royal-blue: #527EE9;
$medium-orchid: #BC52E9;