@import "default_colors";

$body-background: $cod-grey !default;
$body-foreground: $gallery !default;
$header: $conifer !default;
$blockquote-color: $silver-chalice !default;
$blockquote-border: $dove-grey !default;
$border-width: 1px;

@import "sidenav";
@import "rouge-base16-dark";

html {
  /* JS unhides html once loaded */
  visibility: hidden;
}

body {
  background-color: $body-background;
  color: $body-foreground;
  font-size: 14px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.jekyll-anchor {
  font-size: 0.8em;
}

section {
  display: block;
  margin: 0;
}

p {
  margin-top: 0px;
}

li {
  line-height: 1.4;
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  #title {
    padding-bottom: 10px;

    h1 {
      font-size: 30px;
      line-height: 1.5;
      margin: 0 0 0 -40px;
      font-weight: bold;
      font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
      color: $conifer;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                  0 0 5px rgba(181, 232, 83, 0.1),
                  0 0 10px rgba(181, 232, 83, 0.1);
      letter-spacing: -1px;
      -webkit-font-smoothing: antialiased;

      a:before {
        content: "./ ";
        font-size: 24px;
        /* https://stackoverflow.com/questions/8820286/how-to-remove-only-underline-from-abefore/8820459 */
        display: inline-block;

        &:hover {
          color: $cream-can;
        }
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 300;
      color: $dove-grey;
    }
  }

  #downloads {
    display: flex;
  }
}

#page_body {
  display: flex;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer;

  .LI-profile-badge {
    padding: 20px;

    li:before {
      content: none;
    }
  }
}

#main_content {
  -webkit-font-smoothing: antialiased;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2.5%;
  margin-right: 5%;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $header;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);

  &:focus {
    outline: 0px; 
  }
  
  margin: 0px;
  
  a {
    color: $conifer;

    &:visited {
      color: $conifer;
    }
    
    &:hover {
      color: $cream-can;
    }
  }
}

#main_content {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
  }

  h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-grey;
    margin: 0 0 5px 0;
  }
} 

dt {
  font-style: italic;
  font-weight: bold;
}

ul {
  list-style: none;

  li:before {
    content: ">>";
    color: $conifer;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  }
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 1px dashed $blockquote-border;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: $conifer;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0px 3px;
  margin: 0px -3px;
  color: $bouquet;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed $conifer;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed $conifer;
  color: $conifer;
}

.btn {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(top,
  rgba(40, 40, 40, 0.3),
  rgba(35, 35, 35, 0.3) 50%,
  rgba(10, 10, 10, 0.3) 50%,
  rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border:        2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top:    2px solid rgba(0, 0, 0, 1);
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.8);

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;

  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);

  &:hover {
    background: -webkit-linear-gradient(top,
    rgba(40, 40, 40, 0.6), 
    rgba(35, 35, 35, 0.6) 50%,
    rgba(10, 10, 10, 0.8) 50%,
    rgba(0, 0, 0, 0.8));
  }

  i {
    color: $conifer;
    font-size: 1.5em;
    padding-right: 5px;
  }

  &:visited {  
    color: rgba(255, 255, 255, 0.8);
  }
}

a {
  color: $royal-blue;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);

  &:visited {
    color: $medium-orchid;
  }
}

img {
  width: 50%;
  margin: auto;
  display: block;
}

figure {
  width: 50%;
  margin: auto;
  text-align: justify;

  iframe {
    margin: auto;
    display: block;
  }
}

.qtip-tip {
  display: none;
  figure, img {
    width: 90%;
  }
}
