.sidenav {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  /* No change in positioning, lets `.js-toc` be `sticky` relative to this */
  position: relative;
  
  border-right: $border-width dashed $conifer;
 }

.js-toc {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  /* hide that tocbot overdraws it's border */
  overflow-y: hidden;
  top: 0;

  padding-top: 20px;
  margin-right: 20px;

  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: $gallery;
    display: inline;
    outline: 0px;

    &:before {
      color: $gallery;
    }

    &:hover {
      color: $cream-can;
    }

    &.is-active-link {
      /* default tocbot css increases font weight, makes toc width jitter */
      font-weight: normal;	
      color: $conifer;
  
      &:before {
        background-color: $conifer;
      }
    }
  }
}

.sidenav-sticky-bar {
  $cap-size: 9px;
  /* Moving `$cap-size/2` will align w/ left edge of border, need to
   * additionally offset by `$border-width/2` to center */
  $center_offset: ($cap-size / 2) + ($border-width / 2);

  /* TODO declaring this in `i` below causes a rendering problem, where the
   *      icon isn't drawn at the top of the div. Figure out why. */
  font-size: $cap-size;
  top:   -$center_offset;
  right: -$center_offset;
  height: 100%;

  /*needed to remove self from flow of elements in sidenav  */
  position: absolute;

  i {
    color: $conifer;
    position: sticky;
    /* sticking with the top edge slightly offscreen looks "stuck" to the top
     * of the viewport, which is nice, and avoids border poking out */
    top: -1px;
  }
}

/* On smaller screens, where height is less than 450px,
 * change the style of the sidebar (less padding and a
 * smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 
