<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">

    <link rel="icon" type="image/x-icon"  href="/favicon.ico">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script defer src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
    <script defer src="https://platform.linkedin.com/badges/js/profile.js"></script>
    <script defer src="https://kit.fontawesome.com/65804c4550.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div id="title">
        <!-- https://css-tricks.com/link-header-header-link/ -->
        <h1><a href="/">{{ site.title }}</a></h1>
        <h2>{{ site.description }}</h2>
      </div>

      <nav id="downloads">
        <a class="btn" href="{{ site.repo_url }}">
          <i class="fab fa-gitlab"></i> GitLab
        </a>
        <a class="btn" href="{{ site.linkedin_url }}">
          <i class="fab fa-linkedin"></i> Profile
        </a>
        <a class="btn" href="/resume_cv.pdf">
          <i class="far fa-file-pdf"></i> Resume
        </a>
      </nav>
    </header>

    <section id="page_body">
      <aside class="sidenav">
        <div class="sidenav-sticky-bar">
          <i class="fas fa-circle"></i>
        </div>
        <nav class="js-toc"></nav>
      </aside>

      <section id="main_content">
        {% include anchor_headings.html
           html=content
           anchorBody='<i class="far fa-bookmark"></i>'
           anchorClass='jekyll-anchor' %}
      </section>
    </section>
  
    <footer>
      <div
        class="LI-profile-badge" data-version="v1" data-size="large"
        data-locale="en_US" data-type="horizontal" data-theme="dark"
        data-vanity="tristansweeney"
      >
        <a class="LI-simple-link" href='https://www.linkedin.com/in/tristansweeney?trk=profile-badge'>
          Tristan Sweeney
        </a>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function(e) {
        $('[data-qtip]').each(function() {
          $(this).qtip({
            content: {
                text: $("#"+$(this).data("qtip")).detach().css('display', 'unset').html(),
            }
          });
        });

        tocbot.init({
          tocSelector: '.js-toc',
          contentSelector: '#main_content',
          headingSelector: 'h1, h2, h3',
          hasInnerContainers: false,
        });
        
        $(document).ready(function() {
          $("html")[0].style.visibility = "visible";
        });
      }, false);
    </script>
  </body>
</html>
